form {
    width: 90%;
    border-radius: var(--radius-400);
    padding: 33px 40px;
    display: flex;
    gap: var(--spacing-90);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--color-mountbatten-pink);
  }
  
  textarea {
    background-color:transparent;
    border-radius: var(--radius-400);
    border: 1px solid var(--color-mountbatten-pink);
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.05);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 48px;
    width: calc(100% - 25px);
  }
  
  textarea::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  textarea:focus {
    outline-color: #61DAFA;
  }

  .TodoForm-button {
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    height: 32px;
    border-radius: 16px;
    background-color: var(--color-silver);
    color: white;
    padding: 0 16px;
}


.TodoForm-icon-button {
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
}

.TodoForm-icon-button--cancel {
    position: absolute;
    right: -16px;
    top: -16px;
    background-color: var(--color-silver);
    color: white;
}

.TodoForm-icon-button--add {
    background-color: var(--color-mountbatten-pink);
    color: white;
}