.todoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-90);
    border-radius: var(--radius-400);
    margin: 0 var(--spacing-90);
    margin-bottom: var(--spacing-100);
    padding: 0 var(--spacing-90);
    position: relative;
}

.todoItem--loading-skeleton {

    min-height: 46px;
    animation: skeleton-loading 1s ease-in infinite;
}

.todoItem--loading-skeleton span {
    background-color:rgba(255,255,255,0.35);
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.loading-skeleton-comment {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loading-skeleton-comment .comment-line {    
    background-color:rgba(255,255,255,0.65);
    height: 12px;
    border-radius: var(--radius-200);
}

.loading-skeleton-comment .comment-line--short {
    width: 25%;
}

.loading-skeleton-comment .comment-line--long {
    width: 50%;
}

@keyframes skeleton-loading {
    0% {
        background-color:rgba(255,255,255,0.05);
    }

    100% {
        background-color:rgba(255,255,255,0.25);
    }
}