.todoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-90);
    background-color:rgba(255,255,255,0.90);
    border-radius: var(--radius-400);
    margin: 0 var(--spacing-90);
    margin-bottom: var(--spacing-100);
    padding: 0 var(--spacing-90);
    position: relative;
}

.todoItem .todoItem-icon-button span, .todoItem p {
    margin: var(--spacing-90) 0;
    color: var(--color-mountbatten-pink);
}

.todoItem .todoItem-icon-button span {
    flex-grow: 0;
}

.todoItem p {
    flex-grow: 1;
    text-align: left;
}

.todoItem.todoItem--active {
    background-color: rgba(255,255,255,0.35);
    border: 0;
}

.todoItem.todoItem--active p {
    color: rgba(0,0,0,0.25);
}


.todoItem-icon-button {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
}

.todoItem-icon-button.todoItem-icon-button--complete {
    background-color: var(--color-silver);
}

.todoItem .todoItem-icon-button--complete:hover {
    background-color: green;
    cursor: pointer;
}

.todoItem .todoItem-icon-button--complete:hover span {
    color:white;
}

.todoItem-icon-button.todoItem-icon-button--delete {
    background-color: var(--color-mountbatten-pink);
}

.todoItem-icon-button.todoItem-icon-button--delete:hover {
    background-color: red;
    cursor: pointer;
}

.todoItem-icon-button.todoItem-icon-button--delete:hover span {
    color:white;
}

.todoItem .todoItem-icon-button--delete span, .todoItem-icon-button--complete span {
    color: white;
}

li.todoItem.todoItem--active .todoItem-icon-button.todoItem-icon-button--complete {
    background-color: #03fc9d;
}

li.todoItem.todoItem--active .todoItem-icon-button.todoItem-icon-button--complete span {
    color:white;
}